<main>
    <section id="process" class="process">
        <div class="container-fluid container-fluid-max">
            <div class="row text-center py-5">
                <div class="col-12 pb-4">
                    <h2 class="text-purple">How It Works</h2>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-purple"></i>
                        <i class="fas fa-home fa-stack-1x text-white"></i>
                    </span>
                    <h3 class="mt-3 text-purple h4">Visit center</h3>
                    <p>Technocrates Building 1st floor, Jamuaon, Khanpur, Ballia, 221718</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-purple"></i>
                        <i class="fas fa-search fa-stack-1x text-white"></i>
                    </span>
                    <h3 class="mt-3 text-purple h4">Analysis</h3>
                    <p>New technologies are transforming how social scientists in a wide range of fields do research. The  series, New Technologies for  Social Research. </p>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-purple"></i>
                        <i class="fas fa-book fa-stack-1x text-white"></i>
                    </span>
                    <h3 class="mt-3 text-purple h4">Booking course</h3>
                    <p>Select the suitable course which is belog to your growing skills and book by DTCT.</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-purple"></i>
                        <i class="fas fa-school fa-stack-1x text-white"></i>
                    </span>
                    <h3 class="mt-3 text-purple h4">Join the class</h3>
                    <p>After booking the course we can attend/join the class.</p>
                </div>
                <div class="col-12 pt-3">
                    <a class="btn bg-red text-white" target="_blank"
                        href="https://en.wikipedia.org/wiki/Neuschwanstein_Castle" role="button">Learn More →</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row text-center py-2">
            <div class="col-12 pb-2">
                <h2 class="text-purple">Products</h2>
            </div>
        </div>
    </div>
    <section id="featured-destinations" class="featured-destinations bg-lightblue">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
                <div class="p-15">
                    <h3>SBY Coaching Classes, Jamuaon</h3>
                    <p><strong>SBYCC,</strong> Education is compulsory for every child. Teaching is a great contribution
                        to the society, by imparting education to people; you enrich people’s knowledge on various
                        subjects. Basic education starts with school and colleges are made for higher studies. Most of
                        the time, it happens that the regular classes in schools and colleges cannot are not adequate to
                        educate the students. This is why, coaching classes are held to compensate for it.</p>
                        <div style="width:236px">
                            <%- include('../components/sbycc-reg-link'); %> 
                        </div>
                        <span>Please click for SBYcc Registration.</span>
                </div>
            </div>
            <div class="col-12 col-md-6 order-0 order-md-1">
                <div class="vh-100 cover"
                    style="background-image: url(/assets/2023-05-06.jpg);">
                </div>
            </div>
            <div class="col-12 col-md-6 order-2">
                <div class="vh-100 cover"
                    style="background-image: url(/assets/pexels-narda-yescas-1566837.jpg);">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center order-3">
                <div class="p-15">
                    <h3>Bangalore Supreme Cafe</h3>
                    <p>Upcomming soon</p>
                </div>
            </div>
        </div>
    </section>
    <%- include('../marketing/courses/popular'); %>
        <%- include('../marketing/courses/top'); %>
            <%- include('../marketing/courses/trending'); %>
            <%- include('../marketing/serve-service-area/index'); %>
            <%- include('../faq/index'); %>
</main>